# Jet Brains #
##############
.idea/

# Jupyter #
###########
.ipynb_checkpoints

# Environment #
###############
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data #
########
data/
*.dat

# Log #
########
log/
*.log

# Byte-compiled optimized DLL files #
#####################################
__pycache__/
*.py[cod]
*$py.class

# C extensions #
################
*.so
